* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "copetranFont";
  src: url("../public/Serpentine BoldOblique.ttf");
  font-weight: normal;
  font-style: normal;
}

.home,
.login {
  width: 100%;
  height: 100vh;
  background: url(../public/home_background.png) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_container,
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 30%;
  height: 70%;
  background-color: #162e50;
  border-radius: 50px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.home_container {
  font-size: 1.5rem;
}
.home_container img,
.login-container img {
  width: 350px;
  height: 250px;
}
.homecontainer_button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.homecontainer_button-container button {
  width: 128px;
  height: 60px;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: space-evenly;
  align-items: center;
}
.form-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.form-group input {
  width: 60%;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.236);
  color: white;
  outline: none;
}

.form-group select {
  width: 60%;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.236);
  color: white;
  outline: none;
}
.form-group input::placeholder {
  color: rgba(255, 255, 255, 0.332);
}
.login_form button {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.homecontainer_button-container button,
.login_form button {
  transition: all 0.3s ease;
}

.homecontainer_button-container button:hover,
.login_form button:hover {
  transform: scale(1.1);
}

.homecontainer_button-container button:active,
.login_form button:active {
  transform: scale(0.95);
}

.upperBarr {
  background-color: #162e50;
  color: white;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  height: 10vh;
}
.upperBarr_img {
  width: 40%;
}

.upperBarr img {
  width: 110px;
  height: 80px;
  margin-left: 63px;
}

.main_menu-container {
  width: 100%;
  display: flex;
  height: 90vh;
  display: flex;
}

.aside_menu {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: center;
  align-items: center;
}
.aside_menu-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 80%;
}

.aside_menu-buttons button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #162e50;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.aside_menu-buttons button:hover {
  background-color: #f9f9f9;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.aside_menu-buttons button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.menu_button-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background-color: #d9d9d9;
}

.div_button-container {
  width: 50%;
  height: 20%;
}
.div_button-containerReverse {
  width: 50%;
  height: 20%;
  display: flex;
  flex-direction: row-reverse;
}

.div_button-container button,
.div_button-containerReverse button {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
  border: none;
  background-color: white;
  color: black;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  text-align: left;
  border-radius: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.upperBarrGestionEmpleados {
  background-color: #162e50;
  color: white;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  height: 10vh;
  justify-content: space-around;
  gap: 155px;
}

.upperBarrGestionEmpleados_img {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upperBarrGestionEmpleados_img img {
  width: 110px;
  height: 80px;
}

.upperBarr_inputContainer {
  width: 45%;
  display: flex;
  align-items: center;
}

.upperBarr_inputContainer img {
  width: 45px;
  height: 45px;
}

.upperBarr_inputContainer input {
  width: 90%;
  height: 20px;
  border-radius: 15px;
  background-color: #d9d9d9;
  outline: none;
  border: none;
}

.homecontainer_button-container button,
.login_form button,
.aside_menu-buttons button,
.div_button-container button,
.div_button-containerReverse button {
  transition: all 0.3s ease;
}

.homecontainer_button-container button:hover,
.login_formbutton:hover,
.aside_menu-buttons button:hover,
.div_button-container button:hover,
.div_button-containerReverse button:hover {
  transform: scale(1.1);
}

.homecontainer_button-container button:active,
.login_form button:active,
.aside_menu-buttons button:active,
.div_button-container button:active,
.div_button-containerReverse button:active {
  transform: scale(0.95);
}

.gestion_menu-container {
  width: 100%;
  display: flex;
  height: 90vh;
  display: flex;
}
.upperBarrButtonBuscarEmpleado {
  display: flex;
  align-items: center;
  width: 22%;
  justify-content: center;
}
.upperBarrButtonBuscarEmpleado button {
  height: 40px;
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.tableList_container {
  width: 85%;
  height: 90vh;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.tableList {
  width: 70%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
}
.tableList_index {
  background-color: #162e50;
  width: 100%;
  height: 10%;
  border-radius: 10px 10px 0 0;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.tableList_index div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableList_data-container {
  width: 100%;
  height: 90%;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.tableList_data {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.tableList_data div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.tableList_button-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  height: 70vh;
  width: 10%;
  justify-content: space-around;
  align-items: center;
}
.tableList_button-container select {
  width: 85%;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: none;
  outline: none;
}
.tableList_button-container button {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #162e50;
  font-weight: bold;
}
.tableList_accionesButtons {
  gap: 15px;
}
.tableList_accionesButtons button {
  background-color: #ebebebc0;
  border-radius: 10px;
  height: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.registerEdit_interface {
  width: 100%;
  height: 100vh;
  display: flex;
}

.registerEdit_aside {
  width: 30%;
  height: 100vh;
  background-color: #0e2247;
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerEdit_aside-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
  text-align: center;
  color: white;
}

.registerEdit_aside-container img {
  width: auto;
  height: 150px;
}

.registerEdit_aside-container button {
  width: 120px;
  height: 70px;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
}

.registerData_section {
  width: 70%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms {
  width: 60%;
  height: 80%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}
.form-group select{
  height: 35px;
  min-width: 100%;
  border: 1px solid #ccc;
  background-color: #cccccc74;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 14px;
  color: black;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input {
  height: 35px;
  min-width: 90%;
  border: 1px solid #ccc;
  background-color: #cccccc74;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 14px;
  color: black;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #151076;
}

.form-row {
  width: 80%;
  display: flex;
  gap: 15px;
}

.form-row .form-group {
  flex: 1;
}

.submit-button {
  width: 20%;
  height: 60px;
  border: none;
  border-radius: 20px;
  background-color: #296ac5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #155bb5;
}
